@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg  #ffca00 */
/* text #45810e */
@font-face {
    font-family: 'Outfit';
    font-weight: 400;
    font-style: bold;
    font-display: swap;
    src: url('/fonts/Outfit-Bold.woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Poppins-Regular.woff2');
    
  }


@layer base {
    body {
        @apply scroll-smooth 
    }
    ::-webkit-scrollbar {
        @apply md:w-2 w-1
    }
    ::-webkit-scrollbar-track{
        @apply bg-purple-100
    }
    ::-webkit-scrollbar-thumb{
        @apply bg-gradient-to-b from-purple-500/80 to-red-500/80 rounded-3xl  shadow-xl
    }
}